@import './media-queries.less';

:root {
  --color-light-gray: #f3f3f3;
  --body-container-normal-background-color: var(--color-light-gray);
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-container-normal-background-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Tasks container
.tasks-container {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.task-form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  .icon {
    color: 'rgba(0,0,0,.25)';
  }
}

.list-item {
  display: flex;
  justify-content: space-between;

  .task-item {
    display: flex;
    align-items: center;

    .task-tag {
      margin: 10px;
      white-space: normal !important;
      max-width: 115px;
      word-break: break-all;
    }
  }

  @media @tablet {
    .task-item {
      .task-tag {
        max-width: 500px;
      }
    }
  }

  @media @desktop {
    .task-item {
      .task-tag {
        max-width: 100%;
      }
    }
  }
}
